Hi Dr. $!gmc_utils.concatIgnoreNull(" ", $!doctor.getFirstName(), $!doctor.getLastName()), appointment of $!gmc_utils.concatIgnoreNull(" ", $!appointment.getPatientFistName(), $!appointment.getPatientLastName()) with you is confirmed for $!gmc_utils.formatDateTime("hh:mm aa", $!gmc_utils.formatDateTime("HH:mm", $!appointment.getStartTime())) on $!gmc_utils.formatDateTime("EEE, d MMM yyyy", $!appointment.getAppointmentDate()).
