Hi $!gmc_utils.concatIgnoreNull(" ", $!appointment.getPatientFistName(), $!appointment.getPatientLastName()), your appointment with Dr. $!gmc_utils.concatIgnoreNull(" ", $!doctor.getFirstName(), $!doctor.getLastName()) is confirmed for $!gmc_utils.formatDateTime("hh:mm aa", $!gmc_utils.formatDateTime("HH:mm", $!appointment.getStartTime())) on $!gmc_utils.formatDateTime("EEE, d MMM yyyy", $!appointment.getAppointmentDate()) at $!gmc_utils.concatIgnoreNull(", ",$!facility.getName(), $!gmc_utils.concatIgnoreNull(" ", $!facility.getAddress().getAddress1(), $!facility.getAddress().getAddress2())).
